In [1]:
!pip install pandas
!pip install requests

Requirement already satisfied: pandas in c:\miniconda\envs\py38_default\lib\site-packages (1.5.2)
Requirement already satisfied: pytz>=2020.1 in c:\miniconda\envs\py38_default\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\miniconda\envs\py38_default\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in c:\miniconda\envs\py38_default\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\miniconda\envs\py38_default\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: requests in c:\miniconda\envs\py38_default\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\miniconda\envs\py38_default\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\miniconda\envs\py38_default\lib\site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\miniconda\envs\py38_default\lib\site-packages (from requests) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\miniconda\envs\py38_default\lib\site-packages (from requests) (1.26.14)

In [2]:
import glob
import pandas as pd
from datetime import datetime

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-12-11 21:52:42--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: 'bank_market_cap_1.json'

     0K ..                                                    100%  526M=0s

2023-12-11 21:52:43 (526 MB/s) - 'bank_market_cap_1.json' saved [2815/2815]

--2023-12-11 21:52:43--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: 'bank_market_cap_2.json'

     0K .                                                     100%  303M=0s

2023-12-11 21:52:43 (303 MB/s) - 'bank_market_cap_2.json' saved [1429/1429]

--2023-12-11 21:52:43--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: 'exchange_rates.csv'

     0K                                                       100%  131M=0s

2023-12-11 21:52:43 (131 MB/s) - 'exchange_rates.csv' saved [590/590]

In [4]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [5]:
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract():
    dataframe = extract_from_json(glob.glob('bank_market_cap_1.json')[0])
    dataframe.columns=columns
    return dataframe
extract().head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [7]:

def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    dataframe.columns=['Symbol','Rates']
    return dataframe
extracted_csv=extract_from_csv(glob.glob('exchange_rates.csv')[0])

In [8]:
exchange_rate=extracted_csv[extracted_csv['Symbol']=='GBP'].Rates.iloc[0]
exchange_rate

0.7323984208000001

In [9]:
def transform(data):
    USD_To_GBP=exchange_rate
    data['Market Cap (US$ Billion)']=round(data['Market Cap (US$ Billion)'] * USD_To_GBP,3)
    data.columns=['Name','Market Cap (GBP$ Billion)']
    return data

In [10]:
def load(data_to_load):
    data_to_load.to_csv('bank_market_cap_gbp.csv',index=False)

In [11]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [12]:

log('ETL Job Started')
log('Extract phase Started')

In [13]:

extract()

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [14]:
log('Extract phase Ended')

In [15]:
transformed_data=transform(extract())

transformed_data.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [16]:
log('Transform phase Ended')

In [17]:
log('Load phase Started')

In [20]:
load(transformed_data)

In [21]:
log('Load phase Ended')